/*
* adapt-diffuseAssessment
* License - http://github.com/adaptlearning/adapt_framework/LICENSE
* Maintainers - Oliver Foster <oliver.foster@kineo.com>
*/

.diffuseAssessmentFeedback-component.is-displayasimage {
	.da-feedback-inner {
		display: none;
	}
}
.diffuseAssessmentFeedback-component.not-displayasimage.not-complete {
	.da-feedback-inner {
		display: block;
	}
}
.diffuseAssessmentFeedback-component.not-displayasimage.is-complete {
	.da-feedback-inner {
		/*display: block;*/
		position: relative;
	}
	.printbutton {
		position: absolute;
		top: 3px;
		right: 3px;
		.icon {
			color: lightgray;
		}
	}
}
.diffuseAssessmentFeedback-component.html2img {
	.da-feedback-inner {
		display: block;
	}
}